@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.middle-row {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .middle-row {
    width: calc(100% - 288px);
  }
}

@media (min-width: 1024px) {
  .middle-row {
    width: calc(100% - 576px);
  }
}
